/* Paleta de colores */
:root {
    --color_azul_primary: #334EAC;
    --color_azul_primary_dark: #081F5C;
    --color_azul_primary_light: #7096D1;

    --color_azul_primary_e_light: #a1c2f2;

    --color_celeste_primary: #D0E3FF;
    --color_celeste_primary_dark: #BAD6EB;
    --color_celeste_primary_half_light: #e0ecff;
    --color_celeste_primary_light: #F7F2EB;

    --color_secondary: #F9D489;
    --color_secondary_dark: #ecbb57;
    --color_secondary_light: #FBE6B4;

    --color-success: #c4ff9b;
    --color-warning: #fdde8b;
    --color-danger: #f06c69;

    --color-success_dark: #87d875;
    --color-warning_dark: #eec17d;
    --color-danger_dark: #e55a5a;

    --color_background: #FFF9F0;

    --color_modal_background: #b2c6ff78;
    --color_gris: #808caa;
}
#calendar {
    max-width: 95%;
    margin: 20px auto;
    padding: 0 10px;
}
        
.fc-event {
    cursor: pointer;
}
        
.fc-daygrid-event {
    white-space: normal;
    padding: 2px 4px;
}
        
.fc-toolbar {
        flex-wrap: wrap;
    }
        
.fc-toolbar-chunk {
    margin-bottom: 10px;
}
        
.hidden {
    display: none !important;
}
        
.calendario-semanal {
    display: none;
}