@font-face {
  font-family: 'fuente_H1';
  src: url("fonts/Titan_One/TitanOne-Regular.ttf");
}

@font-face {
  font-family: 'fuente_H2';
  src: url("fonts/Winky_Rough/WinkyRough-VariableFont_wght.ttf");
}

*{
  flex: content;
}

body {
  background-color: rgb(247, 247, 197);
  font-family: 'Poppins', sans-serif;
}

header{
  background-color: rgb(248, 214, 81);
}

h1 {
  font-family: 'fuente_H1';
}

h2 , h3{
  font-family: 'fuente_H2';
}

#cardContenido {
  background-color: aliceblue;
}